/tmp
.bundle/config
vendor/bundle
Gemfile.lock
/bundle
config.tmp
/vendor/cache
/bundle_tarball
spec/valid_build/tmp_packguy_wp
/rpm/*
/rpm_tarball/*
/spec/valid_build/pkg/
/vendor/buildpack-cache/bundle_ruby_*-darwin*.tar.gz
/vendor/buildpack-cache/bundle_ruby_2.5.0_*-linux.tar.gz
